@font-face {
    font-family: "c64";
    src: url(C64_User_v1.0-STYLE.ttf);
}


body{
	font-family: 'c64', sans-serif;
	text-align: center;
	color: white;
}

h1{
	font-size: 50px;
}

canvas {
	border: white 5px solid;
}

th{
	width: 1em;
}