@font-face {
    font-family: "c64";
    src: url(C64_User_v1.0-STYLE.ttf);
}


body{
	font-family: 'c64', sans-serif;
	text-align: center;
	color: white;
}

#main {
	width: 758px;
	margin: 0 auto;
}

h1{
	font-size: 50px;
}

canvas {
	border: white 5px solid;
	margin: 5px;
}

#game_console, #game_screen {
	float: left;
}

th{
	width: 1em;
}

#img_font{
	display: none;
}

